name: Dice Analytics Assignment 2 (Build test and deploy flask application)

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  job1_build_push_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: umerarshad123/flask_a2:latest

  job2_test_app:
    runs-on: ubuntu-latest
    needs: job1_build_push_image
    steps:
      -
        name: Test my app
        working-directory: ./
        run: |
          echo "Start test"
          ls
          ls ..
          python3 test_app.py
          echo "Stop test"

  job3_deploy_image:
    runs-on: [self-hosted, Linux, X64]
    needs: job2_test_app
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}
      -
        name: Pull and run updated docker image
        run: docker run -d -p 5000:5000 umerarshad123/flask_a2:latest


